@font-face {
  font-family: 'leelawdb-bold';
  src: url("../fonts/leelawdb.ttf");
}

@font-face {
  font-family: 'roboto';
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'roboto_m';
  src: url("../fonts/Roboto-Medium.ttf");
}

* {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #627791;
  font-family: 'roboto';
  font-size: 14px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-family: 'roboto_m';
  font-size: 15px;
}

body {
  background-color: #F2F8FF;
  font-size: 14px;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  gap: 0px 0px;
      grid-template-areas: ". . . . . . . . . . . ." ". . . . . . . . . . . ." ". . . . . . . . . . . .";
  margin-left: 95px;
  margin-right: 95px;
}

@font-face {
  font-family: 'leelawdb-bold';
  src: url("../fonts/leelawdb.ttf");
}

@font-face {
  font-family: 'roboto';
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'roboto_m';
  src: url("../fonts/Roboto-Medium.ttf");
}

* {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #627791;
  font-family: 'roboto';
  font-size: 14px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-family: 'roboto_m';
  font-size: 15px;
}

header {
  -ms-grid-row: 0;
      grid-row-start: 0;
  grid-row-end: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 12;
  background-image: url("../images/wonder.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -11px;
  height: 526px;
  border-radius: 0 0 30px 30px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 80px;
  margin-right: 80px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav ul li {
  color: white;
  margin: 30px;
  font-size: 14px;
}

.header_element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
}

.title_header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 32px;
  line-height: 30px;
  color: white;
}

.title_header button {
  width: 180px;
  height: 50px;
  font-size: 20px;
  border-radius: 30px;
  border: 3px solid #0EB7D2;
  background: none;
  color: white;
  margin-top: 20px;
}

.header_video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

.header_video .playVideo {
  position: relative;
  margin-left: 20px;
}

.header_video .playVideo .play {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header_video .playVideo .film {
  width: 107px;
  height: 67px;
  border-radius: 15px;
}

.block_contenu1g {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 7;
  margin-right: 30px;
}

.block_contenu1g .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block_contenu1g .suggestion {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block_contenu1g .suggestion section {
  position: relative;
}

.block_contenu1g .suggestion section .play {
  width: 52px;
  height: 52px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.block_contenu1g .suggestion section .film {
  width: 265px;
  height: 206px;
}

.block_contenu1d {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 12;
}

.block_contenu1d .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block_contenu1d section {
  margin-top: 25px;
  height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0 26px 26px rgba(29, 84, 180, 0.12);
          box-shadow: 0 26px 26px rgba(29, 84, 180, 0.12);
  line-height: 20px;
}

.block_contenu1d section img {
  width: 53px;
  height: 53px;
  border-radius: 8px;
  margin: 20px;
}

.block_contenu1d section span {
  font-size: 7px;
}

.block_contenu1d section p {
  font-size: 9px;
}

.block_contenu2g {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 6;
}

.block_contenu2g .article_recent {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block_contenu2g .article_recent section {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block_contenu2g .article_recent img {
  width: 49px;
  height: 38px;
  border-radius: 8px;
}

.block_contenu2g .article_recent .milieu {
  text-align: left;
  width: 60%;
}

.block_contenu2g .article_recent .fin {
  text-align: right;
}

.block_contenu2g .article_recent p {
  font-size: 9px;
}

.block_contenu2m {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 7;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.block_contenu2m .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block_contenu2m section {
  margin-top: 20px;
  position: relative;
}

.block_contenu2m section .play {
  width: 52px;
  height: 52px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.block_contenu2m section .film {
  width: 291px;
  height: 144px;
}

.block_contenu2d {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 12;
}

.block_contenu2d .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block_contenu2d section {
  height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 20px;
}

.block_contenu2d section img {
  width: 53px;
  height: 53px;
  border-radius: 8px;
  margin: 20px;
}

.block_contenu2d section span {
  font-size: 7px;
}

.block_contenu2d section p {
  font-size: 9px;
}

.article_wolverine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article_wolverine img {
  width: 751px;
  height: 434px;
  margin-left: 90px;
}

.article_wolverine div {
  margin-right: 90px;
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.article_wolverine div h2 {
  font-size: 32px;
}

.article_wolverine div p {
  font-size: 18px;
  line-height: 25px;
}

.article_wolverine div a {
  text-align: right;
  font-size: 20px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
/*# sourceMappingURL=style.css.map */